body {
  background: #eaf6f6;
}

h1 {
  font-family: "Barrio", cursive;
  color: #66bfbf;
  font-size: 70px;
  margin-bottom: -15px;
  text-align: left;
  margin-left: 20px;
}

h2 {
  color: #f76b8a;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
}

h3 {
  font-family: "Lato", sans-serif;
  color: #66bfbf;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 30px;
}

a {
  color: #f76b8a;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  background: #f76b8a;
  color: #fff;
}

footer {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding-top: 30px;
  text-align: center;
}

hr {
  color: #66bfbf;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px #66bfbf solid;
  border-radius: 10px;
  padding: 20px;
  background: #fcfefe;
}

.weatherImg {
  width: 100px;
  height: 100px;
  max-width: 100%;
  margin-left: 20px;
  padding-right: 10px;
}

.weatherImg2 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 50px;
  padding-top: 10px;
}

.weatherInfo {
  color: #66bfbf;
  font-size: 17px;
  text-align: center;
  font-family: "Dosis", sans-serif;
}

.tempNumber {
  color: #66bfbf;
  font-size: 80px;
  line-height: 1;
  font-family: "Barrio", cursive;
}

.celfa {
  color: #66bfbf;
  font-size: 30px;
  margin-left: 10px;
  font-family: "Barrio", cursive;
}

.extraTempinfo {
  color: #f76b8a;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
}

.upcomingWeather {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  color: #f76b8a;
  border: #66bfbf 1px solid;
  margin: 1px;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
}

.upcomingWeatherheader {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #fff;
  background: #66bfbf;
}

.goButton {
  background: #eaf6f6;
  margin-left: -20px;
  margin-top: 8px;
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: #66bfbf;
}

.goButton:hover {
  background: #66bfbf;
  color: #eaf6f6;
}

.active {
  color: #66bfbf;
  text-decoration: none;
}

.active:hover {
  cursor: default;
  background: #fcfefe;
  color: #66bfbf;
}

.forecastTempInfo {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  color: #f76b8a;
  margin: 1px;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
}
